.item {
  width: 46rem;
  display: flex;
  border: 1px solid gray;
  border-radius: 1rem;
  margin: 3rem auto;
  box-shadow: 1rem;
}

.item img {
  border-radius: 1rem 0 0 1rem;
}
.content {
  width: 100%;
  padding: 0 1rem;
}

.summary {
  color: grey;
}
.summary h2 {
  color: #000;
  font-weight: bold;
}
.date {
  margin: 1rem auto;
  font-weight: bold;
}
.address {
  font-style: italic;
}
.content a {
  display: flex;
  justify-content: end;
}
