.form {
  width: 90%;
  max-width: 42rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: bisque;
  /* border: 1px solid gray; */
  border-radius: 0.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
}
.controls {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 1rem;
}
.controls + button {
  height: 2rem;
}
.control {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.control select {
  flex: 1 1 3rem;
}
.control label {
  font-weight: bold;
  text-align: center;
  flex: 1 1 auto;
}
